.product_pre {
    width: calc(33% - 11px);
    cursor: pointer;
}

.product_big_image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.product_container_small_images {
    display: flex;
    gap: 5px;
    width: 100%;
}

.product_small_image {
    width: calc(33% - 1px);
    height: 114px;
    object-fit: cover;
}

.product_small_image:first-child {
    border-radius: 0 0 0 30px;
}

.product_small_image:last-child img {
    width: 100%;
    border-radius: 0 0 30px 0;
    filter: brightness(80%)
}

.product_small_image:last-child span {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: 510;
    word-wrap: break-word
}

.product_pre_text {
    margin-top: 36px;
    margin-bottom: 0px;
    max-width: 250px;
    color: #1F1F1F;
    font-size: 24px;
    font-weight: 510;
    text-transform: capitalize;
    word-wrap: break-word
}

@media (max-width: 1440px) {
    .product_pre {
        width: auto;
        margin: 10px;
        margin-right: 10px;
    }

    .product_pre_text {
        margin-top: 24px;
    }

    .product_big_image {
        height: 320px;
    }
    .product_small_image {
        height: 106px;
    }

    .product_small_image:last-child span {
        font-size: 24px;
    }
}