.catalog_container {
    margin-top: 175px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1387px;
}

.catalog_products_container {
    margin-top: 33px;
    margin-bottom: 153px;
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
}

.catalog_product_hr {
    height: 1px;
    background-color: #929292;
    margin: 0;
    border-color: rgb(0, 0, 0, 0);
}

.catalog_product_big_text {
    color: #1F1F1F;
    font-size: 64px;
    font-weight: 510;
    letter-spacing: 2.56px;
    word-wrap: break-word;
    margin-top: 35px;
    margin-bottom: 14px;
    cursor: pointer;
}