.similar_item_container {
    display: block;
    width: calc(25% - 8px);
    height: 335px;
    margin-top: 37px;
}

.similar_item_image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 26px;
}

.similar_item_title_text {
    color: #1F1F1F;
    font-size: 24px;
    font-weight: 510;
    text-transform: capitalize;
    word-wrap: break-word
}