.one_product_container{
    width: calc(100%-86px);
    height: 64px;
    border-radius: 25px;
    background: #FFF;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding-left: 43px;
    padding-right: 43px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.first {
    display: flex;
    align-items: center;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 510;
    text-transform: capitalize;
    word-wrap: break-word
}

.second {
    margin-left: 25px;
    display: flex;
    align-items: center;
    color: #1F1F1F;
    font-size: 20px;
    font-family: SF Pro;
    font-weight: 510;
    word-wrap: break-word
}

.on_sklad {
    color: #1F1F1F;
    font-size: 24px;
    font-weight: 510;
    word-wrap: break-word
}

.no_on_sklad {
    color: #EF4141;
    font-size: 24px;
    font-weight: 510;
    word-wrap: break-word
}

.color_item {
    height: 36px;
    width: 36px;
    margin-right: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.third {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 510;
    word-wrap: break-word
}

.form_input {
    height: 34px;
    width: 70px;
    text-align: end;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom-style: dashed;
    border-color: #000;
    margin-left: 5px;
    color: #626262;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    word-wrap: break-word
}


.four {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #8A8A8A;
    font-size: 16px;
    font-weight: 510;
    text-transform: lowercase;
    word-wrap: break-word
}

.price {
    margin-right: 8px;
    color: #4DC130;
    font-size: 20px;
    font-weight: 510;
    text-transform: capitalize;
    word-wrap: break-word
}
