.burger_menu_container_close{
    position: absolute;
    width: 467px;
    height: 546px;
    flex-shrink: 0;
    border-radius: 36px;
    background: rgba(255, 233, 246, 0.55);
    backdrop-filter: blur(50px);
    top: 27px;
    left: -546px;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.burger_menu_container_open{
    position: absolute;
    width: 467px;
    height: 546px;
    flex-shrink: 0;
    border-radius: 36px;
    background: rgba(255, 233, 246, 0.55);
    backdrop-filter: blur(50px);
    top: 27px;
    left: 10px;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigator{
    width: 100%;
    height: 381px;
    flex-shrink: 0;
    border-radius: 36px;
    background: rgba(255, 255, 255, 0.50);
}

.product_text{
    width: 100%;
    height: 72px;
    flex-shrink: 0;
    border-radius: 36px 36px 0 0;
    background: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_text > div {
    color: #1F1F1F;
    font-size: 24px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    font-variant: small-caps;
    cursor: pointer;
}

.landing{
    width: 100%;
    height: 309px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}
.landing > div {
    width: 198px;
    height: 34px;
    flex-shrink: 0;
    margin-left: 66px;
    color: #1F1F1F;
    font-size: 20px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    text-transform: capitalize;
    cursor: pointer;
}

.down_buttons{
    width: 100%;
    height: 72px;
    flex-shrink: 0;
    border-radius: 36px;
    background: #FFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.down_buttons > div {
    margin-left: 53px;
    color: #1F1F1F;
    font-size: 24px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
    font-variant: small-caps;
}